USE [haloimag_djgogi]
GO
/****** Object:  StoredProcedure [dbo].[Check_Song_Duplicate]    Script Date: 5/9/2026 3:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Check_Song_Duplicate]
    @UseNormalized BIT = 1   -- 1 = ignore case/spaces, 0 = exact match
AS
BEGIN
    SET NOCOUNT ON;

    -- ============================================================
    -- Normalized (recommended)
    -- ============================================================
    IF @UseNormalized = 1
    BEGIN
        ;WITH CleanSongs AS
        (
            SELECT
                song_id,
                LTRIM(RTRIM(LOWER(title)))  AS clean_title,
                LTRIM(RTRIM(LOWER(artist))) AS clean_artist
            FROM dbo.songs
        ),
        DuplicateSongs AS
        (
            SELECT
                clean_title,
                clean_artist,
                COUNT(*) AS Duplicate_Count
            FROM CleanSongs
            GROUP BY
                clean_title,
                clean_artist
            HAVING COUNT(*) > 1
        )
        SELECT
            s.song_id,
            s.title,
            s.artist,
            s.featured_artist,
            s.lead_vocalist,
            s.genre,
            s.subgenre,
            s.release_year,
            s.decade,
            s.bingo_category,
            s.active,
            s.created_at,
            s.updated_at,
            d.Duplicate_Count,
            'Normalized Match (ignores case/spaces)' AS Match_Type
        FROM dbo.songs s
        INNER JOIN CleanSongs c
            ON s.song_id = c.song_id
        INNER JOIN DuplicateSongs d
            ON c.clean_title = d.clean_title
           AND c.clean_artist = d.clean_artist

        UNION ALL

        SELECT
            NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,
            'No Duplicates Found!' AS Match_Type
        WHERE NOT EXISTS (SELECT 1 FROM DuplicateSongs)

        ORDER BY title, artist, song_id;
    END
    ELSE
    BEGIN
        -- ============================================================
        -- Exact match only
        -- ============================================================
        ;WITH DuplicateSongs AS
        (
            SELECT
                title,
                artist,
                COUNT(*) AS Duplicate_Count
            FROM dbo.songs
            GROUP BY
                title,
                artist
            HAVING COUNT(*) > 1
        )
        SELECT
            s.song_id,
            s.title,
            s.artist,
            s.featured_artist,
            s.lead_vocalist,
            s.genre,
            s.subgenre,
            s.release_year,
            s.decade,
            s.bingo_category,
            s.active,
            s.created_at,
            s.updated_at,
            d.Duplicate_Count,
            'Exact Match' AS Match_Type
        FROM dbo.songs s
        INNER JOIN DuplicateSongs d
            ON s.title = d.title
           AND s.artist = d.artist

        UNION ALL

        SELECT
            NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,
            'No Duplicates Found!' AS Match_Type
        WHERE NOT EXISTS (SELECT 1 FROM DuplicateSongs)

        ORDER BY title, artist, song_id;
    END
END;
