USE [haloimag_djgogi]
GO
/****** Object:  StoredProcedure [dbo].[Check_Card_Duplicates]    Script Date: 5/9/2026 3:48:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Check_Card_Duplicates]
     @Game_ID    INT,
	 @Call_List_ID    INT,
	 @Inning    INT
AS
BEGIN
    SET NOCOUNT ON;
    -- ============================================================
    -- Step 1 : Unpivot all 25 squares into one row per square.
    -- ============================================================
    ;WITH UnpivotedCards AS
    (
        SELECT
            Card_ID,
            Game_ID,
            SquareName,
            SongID
        FROM dbo.Cards
        UNPIVOT
        (
            SongID FOR SquareName IN
            (
                Sq_B1, Sq_B2, Sq_B3, Sq_B4, Sq_B5,
                Sq_I1, Sq_I2, Sq_I3, Sq_I4, Sq_I5,
                Sq_N1, Sq_N2, Sq_N3, Sq_N4, Sq_N5,
                Sq_G1, Sq_G2, Sq_G3, Sq_G4, Sq_G5,
                Sq_O1, Sq_O2, Sq_O3, Sq_O4, Sq_O5
            )
        ) AS up
        WHERE Game_ID = @Game_ID
	    AND Call_List_ID = @Call_List_ID 
		AND Inning = @Inning
    ),
    DuplicatesFound AS
    (
        SELECT
            u.Card_ID,
            u.Game_ID,
            u.SongID AS Duplicate_SongID,
            COUNT(*) AS Occurrence_Count,
            STUFF
            (
                (
                    SELECT ', ' + u2.SquareName
                    FROM UnpivotedCards u2
                    WHERE u2.Card_ID = u.Card_ID
                      AND u2.Game_ID = u.Game_ID
                      AND u2.SongID = u.SongID
                    ORDER BY u2.SquareName
                    FOR XML PATH(''), TYPE
                ).value('.', 'VARCHAR(MAX)'),
                1,
                2,
                ''
            ) AS Square_List
        FROM UnpivotedCards u
        GROUP BY
            u.Card_ID,
            u.Game_ID,
            u.SongID
        HAVING COUNT(*) >= 2
    )
    SELECT
        d.Game_ID,
        d.Card_ID,
        c.Card_PlayerName,
        c.Card_PlayerEmail,
        d.Duplicate_SongID,
        d.Occurrence_Count,
        d.Square_List,
        CASE
            WHEN d.Occurrence_Count = 2 THEN 'Warning  : 2 duplicates'
            WHEN d.Occurrence_Count = 3 THEN 'Error    : 3 duplicates'
            ELSE 'Critical : 4+ duplicates'
        END AS Severity
    FROM DuplicatesFound d
    INNER JOIN dbo.Cards c 
        ON c.Card_ID = d.Card_ID
    UNION ALL
    SELECT
        NULL,
        NULL,
        NULL,
        NULL,
        NULL,
        NULL,
        NULL,
        'No Dups Found  : All cards are clean!' AS Severity
    WHERE NOT EXISTS
    (
        SELECT 1
        FROM DuplicatesFound
    )
    ORDER BY
        Game_ID,
        Card_ID,
        Duplicate_SongID;
    -- ============================================================
    -- Step 2 : Summary count per game
    -- ============================================================
    ;WITH UnpivotedCards AS
    (
        SELECT
            Card_ID,
            Game_ID,
            SongID
        FROM dbo.Cards
        UNPIVOT
        (
            SongID FOR SquareName IN
            (
                Sq_B1, Sq_B2, Sq_B3, Sq_B4, Sq_B5,
                Sq_I1, Sq_I2, Sq_I3, Sq_I4, Sq_I5,
                Sq_N1, Sq_N2, Sq_N3, Sq_N4, Sq_N5,
                Sq_G1, Sq_G2, Sq_G3, Sq_G4, Sq_G5,
                Sq_O1, Sq_O2, Sq_O3, Sq_O4, Sq_O5
            )
        ) AS up
        WHERE Game_ID = @Game_ID
        AND Call_List_ID = @Call_List_ID 
        AND Inning = @Inning
    )
    SELECT
        Game_ID,
        COUNT(DISTINCT Card_ID) AS Cards_With_Duplicates,
        COUNT(*) AS Total_Duplicate_Instances,
        'Run detail query above for full breakdown' AS Note
    FROM
    (
        SELECT
            Card_ID,
            Game_ID,
            SongID
        FROM UnpivotedCards
        GROUP BY
            Card_ID,
            Game_ID,
            SongID
        HAVING COUNT(*) >= 2
    ) AS Summary
    GROUP BY Game_ID
    ORDER BY Game_ID;
END;