USE [haloimag_djgogi]
GO

DECLARE	@return_value int

EXEC	@return_value = [dbo].[usp_Insert_GameNight_Game_Table]
		@GN_Name = N'Tues 05 12',
		@GN_Date = '05/12/2026',
		@GN_Venue = N'HillTop',
		@Game_Number = 13,
		@Game_Name = N'HT-Tue-13'

SELECT	'Return Value' = @return_value

GO


select * from dbo.GameNight
select * from dbo.Game