/*===========================================================================
  Stored Procedure: ups_Get_Songs_Called_Calculate_by_GCI
  
  Description:
    Calculates and returns statistics about songs called versus songs 
    available for a specific game, call list, and inning combination.
    This procedure helps track game progress by showing how many songs
    have been called, how many are available, and how many remain.
    
    Returns two result sets:
    1. Summary statistics (counts and calculations)
    2. Detailed list of all songs that have been called
  
  Parameters:
    @Game_ID      INT - The unique identifier for the game
    @Call_List_ID INT - The unique identifier for the call list
    @Inning       INT - The inning number
  
  Returns:
    Result Set 1 - Summary Statistics:
    - SongsCalled     : Number of songs already called in this game/inning
    - TotalSongs      : Total number of songs available in the call list
    - SongsRemaining  : Number of songs not yet called (TotalSongs - SongsCalled)
    - Game_ID         : Echo of input parameter
    - Call_List_ID    : Echo of input parameter
    - Inning          : Echo of input parameter
    
    Result Set 2 - Called Songs Detail:
    - Inning          : The inning number
    - Call_List_ID    : The call list identifier
    - song_id         : The song identifier
    - title           : The song title
    - artist          : The song artist
    - DateTimeStamp   : When the song was called
    - ThisNumberAWinner : Whether this was a winning number
  
  Example Usage:
    EXEC ups_Get_Songs_Called_Calculate_by_GCI 
        @Game_ID = 1, 
        @Call_List_ID = 5, 
        @Inning = 3;
  
  Author: [Your Name]
  Created: [Current Date]
  Modified: [Current Date]
  
  Change History:
    Date        Author          Description
    ----------  --------------  ---------------------------------------------
    [Date]      [Your Name]     Initial creation
    [Date]      [Your Name]     Added second result set with called songs detail
  
===========================================================================*/

create PROCEDURE [dbo].[usp_Get_Songs_Called_Calculate_by_GCI]
    @Game_ID INT,
    @Call_List_ID INT,
    @Inning INT
AS
BEGIN
    -- Prevent extra result sets from interfering with SELECT statements
    SET NOCOUNT ON;

    -- =====================================================================
    -- Variable Declarations
    -- =====================================================================
    DECLARE @SongsCalled INT;        -- Count of songs already called
    DECLARE @TotalSongs INT;         -- Total songs available in call list
    DECLARE @SongsRemaining INT;     -- Calculated remaining songs

    -- =====================================================================
    -- Get count of songs already called for this game/call list/inning
    -- Queries the Game_Called table which tracks all called songs
    -- =====================================================================
    SELECT @SongsCalled = COUNT(*)
    FROM [dbo].[Game_Called]
    WHERE [Game_ID] = @Game_ID
        AND [Call_List_ID] = @Call_List_ID
        AND [Inning] = @Inning;

    -- =====================================================================
    -- Get total count of songs available in the call list for this inning
    -- Queries the CallList_Songs table which contains the master song list
    -- =====================================================================
    SELECT @TotalSongs = COUNT(*)
    FROM [dbo].[CallList_Songs]
    WHERE [Call_List_ID] = @Call_List_ID
        AND [Inning] = @Inning;

    -- =====================================================================
    -- Calculate the number of songs remaining to be called
    -- Simple subtraction: Total available minus already called
    -- =====================================================================
    SET @SongsRemaining = @TotalSongs - @SongsCalled;

    -- =====================================================================
    -- RESULT SET 1: Return summary statistics
    -- Includes both calculated values and input parameters for reference
    -- =====================================================================
    SELECT 
        @SongsCalled AS SongsCalled,           -- Songs already called
        @TotalSongs AS TotalSongs,             -- Total songs in list
        @SongsRemaining AS SongsRemaining,     -- Songs left to call
        @Game_ID AS Game_ID,                   -- Input parameter echo
        @Call_List_ID AS Call_List_ID,         -- Input parameter echo
        @Inning AS Inning;                     -- Input parameter echo

    -- =====================================================================
    -- RESULT SET 2: Return detailed list of all called songs
    -- Shows which specific songs have been called in this game/inning
    -- Ordered by when they were called (most recent first)
    -- =====================================================================
    SELECT 
        [Inning],
        [Call_List_ID],
        [Song_ID] AS song_id,                  -- Using Song_ID from Game_Called
        [Song_Title] AS title,                 -- Song title from Game_Called
        [Song_Artist] AS artist,               -- Song artist from Game_Called
        [DateTimeStamp],                       -- When the song was called
        [ThisNumberAWinner]                    -- Was this a winning number
    FROM [dbo].[Game_Called]
    WHERE [Game_ID] = @Game_ID
        AND [Call_List_ID] = @Call_List_ID
        AND [Inning] = @Inning
    ORDER BY [DateTimeStamp] DESC;             -- Most recently called first

END
GO