USE [haloimag_djgogi]
GO
/****** Object:  StoredProcedure [dbo].[usp_Clear_All_CalledFlags]    Script Date: 5/9/2026 1:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--DROP PROCEDURE IF EXISTS [dbo].[usp_Clear_All_CalledFlags]
--GO

-- =============================================
-- Author:      William D Beaty
-- Create Date: 2026-04-24
-- Description: Resets all 25 'Called' bit flags back to 0 (false) for every
--              card belonging to the specified Game ID. This is used to start
--              a fresh game while preserving all existing cards and player data.
--
-- Parameters:
--              @Game_ID  INT - The Game identifier whose cards will be reset.
--
-- Returns:     @@ROWCOUNT - Number of cards updated.
--
-- Example:     EXEC [dbo].[usp_Clear_All_CalledFlags] @Game_ID = 1
--
-- Change Log:
-- Date         Author          Description
-- ----------   ----------      -----------------------------------------------
-- 2026-04-24   [Your Name]     Initial creation
-- =============================================
ALTER PROCEDURE [dbo].[usp_Clear_All_CalledFlags]
    @Game_ID    INT,
	@Call_List_ID    INT,
	@Inning    INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[Cards]
    SET
        -- B column
        Sq_B1_Called = 0,
        Sq_B2_Called = 0,
        Sq_B3_Called = 0,
        Sq_B4_Called = 0,
        Sq_B5_Called = 0,
        -- I column
        Sq_I1_Called = 0,
        Sq_I2_Called = 0,
        Sq_I3_Called = 0,
        Sq_I4_Called = 0,
        Sq_I5_Called = 0,
        -- N column
        Sq_N1_Called = 0,
        Sq_N2_Called = 0,
        Sq_N3_Called = 1,
        Sq_N4_Called = 0,
        Sq_N5_Called = 0,
        -- G column
        Sq_G1_Called = 0,
        Sq_G2_Called = 0,
        Sq_G3_Called = 0,
        Sq_G4_Called = 0,
        Sq_G5_Called = 0,
        -- O column
        Sq_O1_Called = 0,
        Sq_O2_Called = 0,
        Sq_O3_Called = 0,
        Sq_O4_Called = 0,
        Sq_O5_Called = 0
    WHERE
        Game_ID = @Game_ID
		and Call_List_ID = @Call_List_ID 
		and Inning = @Inning;

    -- Return the number of cards that were reset
    SELECT 1 AS Cards_Reset;

END
