USE [haloimag_djgogi]
GO
/****** Object:  StoredProcedure [dbo].[usp_GenerateBingoCards_From_CLSongs]    Script Date: 5/12/2026 5:07:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- Stored Procedure : dbo.usp_GenerateBingoCards_From_CLSongs
-- Database         : haloimag_djgogi
-- Author           : William D Beaty
-- Created          : April 22, 2026
-- Modified         : May 8, 2026
-- ============================================================
-- DESCRIPTION:
--   Generates a set of unique Music Bingo cards for a given
--   game. Each card contains 24 randomly assigned songs across
--   the 25 bingo squares (center square N3 is always the FREE
--   SPACE). Card #1 is always a guaranteed winner — its top
--   row is pre-loaded with 5 songs from the first 20 songs
--   in the playlist call order, ensuring at least one card 
--   wins before the night is over. All other cards are 
--   randomly generated.
--
-- PARAMETERS:
--   @Call_List_ID    INT          -- The Call List to pull songs from
--   @Game_ID        INT          -- The Game to generate cards
--                                -- for. Must exist in Game table.
--   @Inning         INT          -- The Inning number to filter songs
--   @CardCount      INT = 150    -- Number of cards to generate.
--                                -- Default 150, max 10000.
--   @PlaylistSize   INT = 15     -- Number of songs that will be
--                                -- called during the game.
--                                -- Must be at least 5.
--   @BingoCategory  VARCHAR(100) -- Optional. Filter song pool
--                                -- by bingo category.
--                                -- (currently commented out)
--   @Genre          VARCHAR(100) -- Optional. Filter song pool
--                                -- by genre.
--                                -- (currently commented out)
--   @Decade         VARCHAR(5)   -- Optional. Filter song pool
--                                -- by decade e.g. '80s'.
--                                -- (currently commented out)
--
-- HOW IT WORKS:
--   Step 1 - Song Pool:
--     Pulls TOP 40 active songs from   
--     FROM [haloimag_djgogi].[dbo].[CallList_Songs] where 
--     Call_List_ID = @Call_List_ID and Inning = @Inning and assigns
--     each a random rank using NEWID(). This becomes the
--     pool all cards draw from. Also tracks PlaylistOrder
--     based on CL_Song_ID sequence.
--
--   Step 2 - Hot Songs:
--     The first 20 songs by playlist call order (based on
--     CL_Song_ID) are flagged as hot songs — these are the 
--     songs that will definitely be called during the game.
--     This ensures Card #1's guaranteed winner row contains
--     songs from the actual DJ playlist sequence.
--
--   Step 3 - Card Generation:
--     Loops @CardCount times. Each iteration reshuffles the
--     song pool using NEWID() and picks 24 unique songs,
--     mapping them to the 25 bingo squares. Sq_N3 is always
--     set to NULL (FREE SPACE).
--
--   Step 4 - Guaranteed Winner:
--     Card #1 has its top row (B1, I1, N1, G1, O1) overwritten
--     with 5 hot songs from the first 20 in the playlist. 
--     Since these songs will be called early in the game, 
--     this top row is guaranteed to complete before the 
--     night ends.
--
--   Step 4a - Deduplication of Card #1:
--     After the hot-song overwrite, any non-row-1 square that
--     now duplicates a hot song is replaced with a song from
--     the pool that is not already on the card. This guarantees
--     all 24 songs on Card #1 remain unique.
--
--   Step 5 - Insert:
--     All generated cards are bulk inserted into dbo.Cards.
--     All _Called flags are explicitly set to 0. Sq_N3_Called
--     is set to 1 (FREE SPACE always daubed from the start).
--
-- TEMP TABLES USED:
--   #SongPool   -- Full randomized pool of eligible songs
--   #HotSongs   -- First 20 songs from playlist call order
--   #NewCards   -- Staging table for all generated cards
--   #Shuffled   -- Per-card reshuffled pool (inside loop)
--   #CardSongs  -- 24 songs picked for a single card
--   #Card1Songs -- Unpivoted view of Card #1 for dedup check
--
-- USAGE:
--   EXEC dbo.usp_GenerateBingoCards_From_CLSongs
--       @Call_List_ID  = 26,
--       @Game_ID      = 1,
--       @Inning       = 5,
--       @CardCount    = 150,
--       @PlaylistSize = 15;
--
-- RETURNS:
--   Single row summary:
--     - CardsGenerated      : Number of cards created
--     - GN_ID               : GameNight ID
--     - Game_ID             : Game ID cards were created for
--     - SongPoolSize        : Total songs in the eligible pool
--     - PlaylistSize        : Songs that will be called
--     - HotSongsInPlaylist  : Hot songs available for winner card
--     - BingoCategory       : Filter used (NULL if not applied)
--     - Genre               : Filter used (NULL if not applied)
--     - Decade              : Filter used (NULL if not applied)
--     - GuaranteedWinnerNote: Confirms Card #1 winner logic
--
-- GAME LOOP THIS PROC BELONGS TO:
--   1. usp_GenerateBingoCards_From_CLSongs -- Generate cards for a game
--   2. usp_CallSong            -- DJ plays a song, flip Called flags
--   3. usp_CheckForWinner      -- Check all 12 patterns for a winner
--   4. usp_ResetGame           -- Reset and replay with same cards
--
-- ERROR CONDITIONS:
--   - @Game_ID not found        : Game does not exist, nothing inserted
--   - @CardCount out of range   : Must be between 1 and 10000
--   - @PlaylistSize too small   : Must be at least 5
--   - Song pool too small       : Need at least 24 active songs
--   - @PlaylistSize > pool size : Playlist cannot exceed song pool
--   - Hot songs < 5             : Need at least 5 hot songs for
--                                 guaranteed winner logic
--
-- CHANGE LOG:
--   April 22, 2026 - Initial version created
--   April 26, 2026 - Added Card #1 deduplication step (Step 4a)
--                    to ensure no song appears twice on Card #1
--                    after the hot-song row-1 overwrite.
--   May 8, 2026    - Modified hot songs to use first 20 songs
--                    from playlist order instead of random selection
-- ============================================================

ALTER PROCEDURE [dbo].[usp_GenerateBingoCards_From_CLSongs]
    @Call_List_ID           INT,
    @Game_ID                INT,
    @Inning                 INT,
    @CardCount              INT = 150,
    @PlaylistSize           INT = 15,
    @BingoCategory          VARCHAR(100) = NULL,
    @Genre                  VARCHAR(100) = NULL,
    @Decade                 VARCHAR(5)   = NULL
--  @ExcludeExplicit        BIT = 0,
--  @ExcludeInstrumental    BIT = 0
AS
BEGIN
    SET NOCOUNT ON;

    ------------------------------------------------------------
    -- Validation
    ------------------------------------------------------------
    IF NOT EXISTS (SELECT 1 FROM dbo.Game WHERE Game_ID = @Game_ID)
    BEGIN
        RAISERROR('Game_ID %d does not exist.', 16, 1, @Game_ID);
        RETURN;
    END;

    IF @CardCount < 1 OR @CardCount > 10000
    BEGIN
        RAISERROR('CardCount must be between 1 and 10000.', 16, 1);
        RETURN;
    END;

    IF @PlaylistSize < 5
    BEGIN
        RAISERROR('PlaylistSize must be at least 5.', 16, 1);
        RETURN;
    END;

    ------------------------------------------------------------
    -- Get GN_ID
    ------------------------------------------------------------
    DECLARE @GN_ID INT;
    SELECT @GN_ID = GN_ID
    FROM dbo.Game
    WHERE Game_ID = @Game_ID;

    ------------------------------------------------------------
    -- Build eligible song pool from SUBSET of songs table
    -- Track PlaylistOrder to identify first 20 songs
    ------------------------------------------------------------
    IF OBJECT_ID('tempdb..#SongPool') IS NOT NULL
        DROP TABLE #SongPool;

    SELECT
        src.song_id,
        src.PlaylistOrder,
        ROW_NUMBER() OVER (ORDER BY NEWID()) AS RandRank
    INTO #SongPool
    FROM
    (
        SELECT TOP 40 
            s.song_id,
            ROW_NUMBER() OVER (ORDER BY s.CL_Song_ID) AS PlaylistOrder
        FROM [haloimag_djgogi].[dbo].[CallList_Songs] s
        WHERE Call_List_ID = @Call_List_ID
          AND Inning = @Inning
      --  FROM dbo.songs s  == orig
      --  and s.active = 1
        --   AND (@BingoCategory IS NULL OR s.bingo_category = @BingoCategory)
        --   AND (@Genre IS NULL OR s.genre = @Genre)
        --   AND (@Decade IS NULL OR s.decade = '80s')
    ) src;

    DECLARE @PoolSize INT;
    SELECT @PoolSize = COUNT(*) FROM #SongPool;

    IF @PoolSize < 24
    BEGIN
        RAISERROR('Not enough songs in selected subset (%d). Need at least 24.', 16, 1, @PoolSize);
        RETURN;
    END;

    IF @PlaylistSize > @PoolSize
    BEGIN
        RAISERROR('PlaylistSize (%d) cannot exceed selected song pool (%d).', 16, 1, @PlaylistSize, @PoolSize);
        RETURN;
    END;

    ------------------------------------------------------------
    -- Hot songs = first 20 songs from playlist call order
    ------------------------------------------------------------
    IF OBJECT_ID('tempdb..#HotSongs') IS NOT NULL
        DROP TABLE #HotSongs;

    SELECT song_id
    INTO #HotSongs
    FROM #SongPool
    WHERE PlaylistOrder <= 20;

    DECLARE @HotCount INT;
    SELECT @HotCount = COUNT(*) FROM #HotSongs;

    IF @HotCount < 5
    BEGIN
        RAISERROR('Need at least 5 hot songs for guaranteed winner logic.', 16, 1);
        RETURN;
    END;

    ------------------------------------------------------------
    -- Work table for new cards
    ------------------------------------------------------------
    IF OBJECT_ID('tempdb..#NewCards') IS NOT NULL
        DROP TABLE #NewCards;

    CREATE TABLE #NewCards
    (
        CardSeq      INT NOT NULL,
        IsGuaranteed BIT NOT NULL DEFAULT (0),

        Sq_B1 INT, Sq_B2 INT, Sq_B3 INT, Sq_B4 INT, Sq_B5 INT,
        Sq_I1 INT, Sq_I2 INT, Sq_I3 INT, Sq_I4 INT, Sq_I5 INT,
        Sq_N1 INT, Sq_N2 INT, Sq_N3 INT, Sq_N4 INT, Sq_N5 INT,
        Sq_G1 INT, Sq_G2 INT, Sq_G3 INT, Sq_G4 INT, Sq_G5 INT,
        Sq_O1 INT, Sq_O2 INT, Sq_O3 INT, Sq_O4 INT, Sq_O5 INT
    );

    ------------------------------------------------------------
    -- Generate cards
    ------------------------------------------------------------
    DECLARE @i INT;
    SET @i = 1;

    WHILE @i <= @CardCount
    BEGIN
        IF OBJECT_ID('tempdb..#Shuffled') IS NOT NULL
            DROP TABLE #Shuffled;

        SELECT
            song_id,
            ROW_NUMBER() OVER (ORDER BY NEWID()) AS Pos
        INTO #Shuffled
        FROM #SongPool;

        IF OBJECT_ID('tempdb..#CardSongs') IS NOT NULL
            DROP TABLE #CardSongs;

        SELECT TOP (24)
            song_id,
            ROW_NUMBER() OVER (ORDER BY Pos) AS Slot
        INTO #CardSongs
        FROM #Shuffled
        ORDER BY Pos;

        INSERT INTO #NewCards
        (
            CardSeq,
            Sq_B1, Sq_B2, Sq_B3, Sq_B4, Sq_B5,
            Sq_I1, Sq_I2, Sq_I3, Sq_I4, Sq_I5,
            Sq_N1, Sq_N2, Sq_N3, Sq_N4, Sq_N5,
            Sq_G1, Sq_G2, Sq_G3, Sq_G4, Sq_G5,
            Sq_O1, Sq_O2, Sq_O3, Sq_O4, Sq_O5
        )
        SELECT
            @i,
            MAX(CASE WHEN Slot =  1 THEN song_id END),
            MAX(CASE WHEN Slot =  2 THEN song_id END),
            MAX(CASE WHEN Slot =  3 THEN song_id END),
            MAX(CASE WHEN Slot =  4 THEN song_id END),
            MAX(CASE WHEN Slot =  5 THEN song_id END),
            MAX(CASE WHEN Slot =  6 THEN song_id END),
            MAX(CASE WHEN Slot =  7 THEN song_id END),
            MAX(CASE WHEN Slot =  8 THEN song_id END),
            MAX(CASE WHEN Slot =  9 THEN song_id END),
            MAX(CASE WHEN Slot = 10 THEN song_id END),
            MAX(CASE WHEN Slot = 11 THEN song_id END),
            MAX(CASE WHEN Slot = 12 THEN song_id END),
            NULL, -- Sq_N3 FREE SPACE
            MAX(CASE WHEN Slot = 13 THEN song_id END),
            MAX(CASE WHEN Slot = 14 THEN song_id END),
            MAX(CASE WHEN Slot = 15 THEN song_id END),
            MAX(CASE WHEN Slot = 16 THEN song_id END),
            MAX(CASE WHEN Slot = 17 THEN song_id END),
            MAX(CASE WHEN Slot = 18 THEN song_id END),
            MAX(CASE WHEN Slot = 19 THEN song_id END),
            MAX(CASE WHEN Slot = 20 THEN song_id END),
            MAX(CASE WHEN Slot = 21 THEN song_id END),
            MAX(CASE WHEN Slot = 22 THEN song_id END),
            MAX(CASE WHEN Slot = 23 THEN song_id END),
            MAX(CASE WHEN Slot = 24 THEN song_id END)
        FROM #CardSongs;

        SET @i = @i + 1;
    END;

    ------------------------------------------------------------
    -- Guaranteed winner card
    -- Pick 5 random hot songs from first 20 for top row of Card #1
    ------------------------------------------------------------
    DECLARE @Hot1 INT, @Hot2 INT, @Hot3 INT, @Hot4 INT, @Hot5 INT;

    ;WITH HotPick AS
    (
        SELECT
            song_id,
            ROW_NUMBER() OVER (ORDER BY NEWID()) AS rn
        FROM #HotSongs
    )
    SELECT
        @Hot1 = MAX(CASE WHEN rn = 1 THEN song_id END),
        @Hot2 = MAX(CASE WHEN rn = 2 THEN song_id END),
        @Hot3 = MAX(CASE WHEN rn = 3 THEN song_id END),
        @Hot4 = MAX(CASE WHEN rn = 4 THEN song_id END),
        @Hot5 = MAX(CASE WHEN rn = 5 THEN song_id END)
    FROM HotPick
    WHERE rn <= 5;

    UPDATE #NewCards
    SET
        Sq_B1        = @Hot1,
        Sq_I1        = @Hot2,
        Sq_N1        = @Hot3,
        Sq_G1        = @Hot4,
        Sq_O1        = @Hot5,
        IsGuaranteed = 1
    WHERE CardSeq = 1;

    ------------------------------------------------------------
    -- Step 4a: Deduplicate Card #1
    -- After the hot-song overwrite, a hot song may now appear
    -- in both row 1 AND somewhere else on the same card.
    -- Walk every non-row-1 square; if it matches any of the
    -- 5 hot songs, replace it with a pool song not yet on the
    -- card. Uses dynamic SQL because the column to patch is
    -- determined at runtime.
    ------------------------------------------------------------

    -- Unpivot all 24 filled squares of Card #1 into a tracking table
    IF OBJECT_ID('tempdb..#Card1Songs') IS NOT NULL
        DROP TABLE #Card1Songs;

    SELECT ColName, song_id
    INTO #Card1Songs
    FROM
    (
        SELECT 'Sq_B1' AS ColName, Sq_B1 AS song_id FROM #NewCards WHERE CardSeq = 1
        UNION ALL SELECT 'Sq_B2', Sq_B2 FROM #NewCards WHERE CardSeq = 1
        UNION ALL SELECT 'Sq_B3', Sq_B3 FROM #NewCards WHERE CardSeq = 1
        UNION ALL SELECT 'Sq_B4', Sq_B4 FROM #NewCards WHERE CardSeq = 1
        UNION ALL SELECT 'Sq_B5', Sq_B5 FROM #NewCards WHERE CardSeq = 1
        UNION ALL SELECT 'Sq_I1', Sq_I1 FROM #NewCards WHERE CardSeq = 1
        UNION ALL SELECT 'Sq_I2', Sq_I2 FROM #NewCards WHERE CardSeq = 1
        UNION ALL SELECT 'Sq_I3', Sq_I3 FROM #NewCards WHERE CardSeq = 1
        UNION ALL SELECT 'Sq_I4', Sq_I4 FROM #NewCards WHERE CardSeq = 1
        UNION ALL SELECT 'Sq_I5', Sq_I5 FROM #NewCards WHERE CardSeq = 1
        UNION ALL SELECT 'Sq_N1', Sq_N1 FROM #NewCards WHERE CardSeq = 1
        UNION ALL SELECT 'Sq_N2', Sq_N2 FROM #NewCards WHERE CardSeq = 1
        -- Sq_N3 intentionally omitted (FREE SPACE, always NULL)
        UNION ALL SELECT 'Sq_N4', Sq_N4 FROM #NewCards WHERE CardSeq = 1
        UNION ALL SELECT 'Sq_N5', Sq_N5 FROM #NewCards WHERE CardSeq = 1
        UNION ALL SELECT 'Sq_G1', Sq_G1 FROM #NewCards WHERE CardSeq = 1
        UNION ALL SELECT 'Sq_G2', Sq_G2 FROM #NewCards WHERE CardSeq = 1
        UNION ALL SELECT 'Sq_G3', Sq_G3 FROM #NewCards WHERE CardSeq = 1
        UNION ALL SELECT 'Sq_G4', Sq_G4 FROM #NewCards WHERE CardSeq = 1
        UNION ALL SELECT 'Sq_G5', Sq_G5 FROM #NewCards WHERE CardSeq = 1
        UNION ALL SELECT 'Sq_O1', Sq_O1 FROM #NewCards WHERE CardSeq = 1
        UNION ALL SELECT 'Sq_O2', Sq_O2 FROM #NewCards WHERE CardSeq = 1
        UNION ALL SELECT 'Sq_O3', Sq_O3 FROM #NewCards WHERE CardSeq = 1
        UNION ALL SELECT 'Sq_O4', Sq_O4 FROM #NewCards WHERE CardSeq = 1
        UNION ALL SELECT 'Sq_O5', Sq_O5 FROM #NewCards WHERE CardSeq = 1
    ) x
    WHERE song_id IS NOT NULL;

    -- Cursor over every non-row-1 square that duplicates a hot song
    DECLARE @DupCol      NVARCHAR(10),
            @DupSong     INT,
            @ReplaceSong INT,
            @sql         NVARCHAR(500);

    DECLARE dup_cursor CURSOR LOCAL FAST_FORWARD FOR
        SELECT ColName, song_id
        FROM   #Card1Songs
        WHERE  ColName  NOT IN ('Sq_B1','Sq_I1','Sq_N1','Sq_G1','Sq_O1')
          AND  song_id  IN (@Hot1, @Hot2, @Hot3, @Hot4, @Hot5);

    OPEN dup_cursor;
    FETCH NEXT FROM dup_cursor INTO @DupCol, @DupSong;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Find a replacement: in the pool but not already on Card #1
        SELECT TOP 1 @ReplaceSong = sp.song_id
        FROM   #SongPool sp
        WHERE  sp.song_id NOT IN (SELECT song_id FROM #Card1Songs WHERE song_id IS NOT NULL)
        ORDER  BY NEWID();

        -- Patch the duplicate square in #NewCards
        SET @sql = N'UPDATE #NewCards SET ' + @DupCol + N' = @rep WHERE CardSeq = 1';
        EXEC sp_executesql @sql, N'@rep INT', @rep = @ReplaceSong;

        -- Keep tracking table current so the next iteration sees
        -- the replacement and does not pick it again
        UPDATE #Card1Songs
        SET    song_id = @ReplaceSong
        WHERE  ColName = @DupCol;

        FETCH NEXT FROM dup_cursor INTO @DupCol, @DupSong;
    END;

    CLOSE     dup_cursor;
    DEALLOCATE dup_cursor;

    ------------------------------------------------------------
    -- Insert into Cards table
    ------------------------------------------------------------
    INSERT INTO dbo.Cards
    (
        Game_ID,
		Call_List_ID,
		Inning,
        Card_Date_Create,
        PlayCount,
        Card_IsWinner,
        Card_SeedKey,

        Sq_B1, Sq_B1_Called,
        Sq_B2, Sq_B2_Called,
        Sq_B3, Sq_B3_Called,
        Sq_B4, Sq_B4_Called,
        Sq_B5, Sq_B5_Called,

        Sq_I1, Sq_I1_Called,
        Sq_I2, Sq_I2_Called,
        Sq_I3, Sq_I3_Called,
        Sq_I4, Sq_I4_Called,
        Sq_I5, Sq_I5_Called,

        Sq_N1, Sq_N1_Called,
        Sq_N2, Sq_N2_Called,
        Sq_N3, Sq_N3_Called,   -- FREE SPACE: NULL / 1
        Sq_N4, Sq_N4_Called,
        Sq_N5, Sq_N5_Called,

        Sq_G1, Sq_G1_Called,
        Sq_G2, Sq_G2_Called,
        Sq_G3, Sq_G3_Called,
        Sq_G4, Sq_G4_Called,
        Sq_G5, Sq_G5_Called,

        Sq_O1, Sq_O1_Called,
        Sq_O2, Sq_O2_Called,
        Sq_O3, Sq_O3_Called,
        Sq_O4, Sq_O4_Called,
        Sq_O5, Sq_O5_Called
    )
    SELECT
        @Game_ID,
		@Call_List_ID,
		@Inning,
        SYSDATETIME(),
        0,
        0,
        CONVERT(VARCHAR(36), NEWID()),

        Sq_B1, 0,
        Sq_B2, 0,
        Sq_B3, 0,
        Sq_B4, 0,
        Sq_B5, 0,

        Sq_I1, 0,
        Sq_I2, 0,
        Sq_I3, 0,
        Sq_I4, 0,
        Sq_I5, 0,

        Sq_N1, 0,
        Sq_N2, 0,
        NULL,  1,   -- Sq_N3 FREE SPACE: always NULL / always Called
        Sq_N4, 0,
        Sq_N5, 0,

        Sq_G1, 0,
        Sq_G2, 0,
        Sq_G3, 0,
        Sq_G4, 0,
        Sq_G5, 0,

        Sq_O1, 0,
        Sq_O2, 0,
        Sq_O3, 0,
        Sq_O4, 0,
        Sq_O5, 0
    FROM #NewCards
    ORDER BY CardSeq;

    ------------------------------------------------------------
    -- Summary
    ------------------------------------------------------------
    SELECT
        @CardCount     AS CardsGenerated,
        @GN_ID         AS GN_ID,
        @Game_ID       AS Game_ID,
		@Call_List_ID  AS Call_List_ID,
		@Inning        AS Inning,
        @PoolSize      AS SongPoolSize,
        @PlaylistSize  AS PlaylistSize,
        @HotCount      AS HotSongsInPlaylist,
        @BingoCategory AS BingoCategory,
        @Genre         AS Genre,
        @Decade        AS Decade,
--      @ExcludeExplicit         AS ExcludeExplicit,
--      @ExcludeInstrumental     AS ExcludeInstrumental,
        'Top row of Card #1 is 100% within the first 20 songs of the playlist call order' AS GuaranteedWinnerNote;

END;