USE [haloimag_djgogi]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_GameNight_Game_Table]    Script Date: 5/5/2026 9:47:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:   William D Beaty   
-- Create Date: 2026-05-05
-- Description: Inserts a new GameNight record and its associated first Game record.
--              Accepts GameNight and Game details as parameters, inserts the GameNight
--              first, captures the new GN_ID via SCOPE_IDENTITY(), then inserts the
--              Game record linked to that GameNight.
--
-- Parameters:
--   @GN_Name     - Name of the game night (required)
--   @GN_Date     - Date of the game night (required)
--   @GN_Venue    - Venue where the game night is held (optional)
--   @Game_Number - Game number within the game night (required)
--   @Game_Name   - Name of the game being played (optional)
--
-- Example:
--   EXEC [dbo].[usp_Insert_GameNight_Game_Table]
--       @GN_Name     = 'Friday Bingo Night',
--       @GN_Date     = '2026-05-09',
--       @GN_Venue    = 'Community Hall',
--       @Game_Number = 1,
--       @Game_Name   = 'Early Bird Game';
--
-- Change History:
-- Date         Author      Description
-- ----------   --------    ---------------------------------------------------
-- 2026-05-05               Initial creation
-- =============================================
ALTER PROCEDURE [dbo].[usp_Insert_GameNight_Game_Table]
    @GN_Name        VARCHAR(100),
    @GN_Date        DATE,
    @GN_Venue       VARCHAR(150),
    @Game_Number    TINYINT,
    @Game_Name      VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NewGN_ID INT;

    -- Step 1: Insert the new GameNight record with the provided details.
    --         GN_IsActive is set to 1 (active) and GN_CreatedAt is stamped with the current datetime.
    INSERT INTO [dbo].[GameNight]
    (
        [GN_Name],
        [GN_Date],
        [GN_Venue],
        [GN_IsActive],
        [GN_CreatedAt]
    )
    VALUES
    (
        @GN_Name,
        @GN_Date,
        @GN_Venue,
        1,              -- GN_IsActive: defaults to true (1) for all new GameNight records
        SYSDATETIME()   -- GN_CreatedAt: captured at time of insert using datetime2 precision
    );

    -- Step 2: Capture the identity value of the newly inserted GameNight row.
    --         SCOPE_IDENTITY() is used instead of @@IDENTITY to avoid cross-trigger side effects.
    SET @NewGN_ID = SCOPE_IDENTITY();

    -- Step 3: Insert the new Game record linked to the GameNight via the captured GN_ID.
    --         Game_Status is set to 'Pending' as the default state for all newly created games.
    INSERT INTO [dbo].[Game]
    (
        [GN_ID],
        [Game_Number],
        [Game_Name],
        [Game_Status],
        [Game_CreatedAt]
    )
    VALUES
    (
        @NewGN_ID,      -- Foreign key linking this Game to the newly created GameNight
        @Game_Number,
        @Game_Name,
        'Pending',      -- Game_Status: defaults to 'Pending' for all new Game records
        SYSDATETIME()   -- Game_CreatedAt: captured at time of insert using datetime2 precision
    );

END;