USE [haloimag_djgogi]
GO
/****** Object:  StoredProcedure [dbo].[usp_Clear_All_CalledSongs]    Script Date: 5/9/2026 2:04:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--DROP PROCEDURE IF EXISTS [dbo].[usp_Clear_All_CalledSongs]
--GO

-- =============================================
-- Author:      William D Beaty
-- Create Date: 2026-04-24
-- Description: Resets all 25 'Called' bit flags back to 0 (false) for every
--              card belonging to the specified Game ID. This is used to start
--              a fresh game while preserving all existing cards and player data.
--
-- Parameters:
--              @Game_ID  INT - The Game identifier whose cards will be reset.
--
-- Returns:     @@ROWCOUNT - Number of cards updated.
--
-- Example:     EXEC [dbo].[usp_Clear_All_CalledFlags] @Game_ID = 1
--
-- Change Log:
-- Date         Author          Description
-- ----------   ----------      -----------------------------------------------
-- 2026-04-24   [Your Name]     Initial creation
-- =============================================
ALTER PROCEDURE [dbo].[usp_Clear_All_CalledSongs]
     @Game_ID    INT,
	 @Call_List_ID    INT,
	 @Inning    INT
AS
BEGIN
    SET NOCOUNT ON;

    Delete from dbo.Game_Called
    WHERE
        Game_ID = @Game_ID
	    and Call_List_ID = @Call_List_ID 
		and Inning = @Inning;

    -- Return the number of cards that were reset
    SELECT 1 AS Cards_Reset;

END
