USE [haloimag_djgogi]
GO
/****** Object:  StoredProcedure [dbo].[usp_Get_Called_Songs]    Script Date: 4/29/2026 12:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      William D Beaty
-- Create date: 2026-04-20
-- Description: Get all songs from dbo.Called_Songs
-- =============================================
ALTER PROCEDURE [dbo].[usp_Get_Called_Songs]
AS
BEGIN
    SET NOCOUNT ON;

    -- =============================================
    -- Return all records from the songs table
    -- Ordered for consistent results
    -- =============================================
   SELECT TOP 100 
       [Song_ID]
      ,[Song_Title]
      ,[Song_Artist]

  FROM [haloimag_djgogi].[dbo].[Game_Called]
    ORDER BY DateTimeStamp Desc;
END
